* {
    box-sizing: border-box;
    background-color: black;
    color: white;  
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

span {
    font-size: 60px;
    font-weight: bolder;
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 500px;
    width: 500px;
    position: relative;
}

.container {
    display: flex;
    transition: all .3s;
}

img {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

.controls .arrow {
    position:absolute;
    top: 50%;
    cursor: pointer;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}